.container {
  padding-inline: 10%;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-inline: 0 !important;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-item {
  border-bottom: 1px solid #5579C4;
  margin-top: 1px;
  padding-left: 5px;
}

#startdate, #enddate, #submit {
  background-color: #5579C4;
  padding: 10px;
  border: none;
  color: #BECBDA;
  border-radius: 500px;
  margin-top: auto;
  text-align: center;
  text-emphasis-color: red;
  -webkit-text-fill-color: #BECBDA;
}

input#submit:hover {
  filter: brightness(0.75)
}