.anchor {
  text-decoration: none;
  color: #5579C4;
  display: inline-block;
  width: 150px;
  border-radius: 500px;
  filter: brightness(1.5);
  padding: 10px;
  margin-top: auto;
  text-align: center;
}

.anchor:hover {
  filter: brightness(0.75);
  cursor: pointer;
}