.homepage {
  background-color: #39414A;
  color: #BECBDA;
  text-align: center;
  padding: 31.5vh 0;
}

.url {
  margin-top: 25px;
}

.url .anchor {
  text-decoration: none;
  background-color: #5579C4;
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  border-radius: 500px;
  color: #BECBDA;
  filter: brightness(1);
}